<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post-ToDo</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
   <div class="w-full min-h-screen bg-zinc-900 text-white p-10 ">
    <h3 class="text-3xl mb-5">Create Account</h3>
    <form action="/register" method="post">
      <input class="px-3 py-2 outline-none bg-transparent border-2 border-zinc-800 rounded-md" type="text" placeholder="name" name="name">
      <input class="px-3 py-2 outline-none bg-transparent border-2 border-zinc-800 rounded-md" type="text" placeholder="username" name="username">
      <input class="px-3 py-2 outline-none bg-transparent border-2 border-zinc-800 rounded-md" type="number" placeholder="age" name="age">
      <input class="px-3 py-2 outline-none bg-transparent border-2 border-zinc-800 rounded-md" type="email" placeholder="email" name="email">
      <input class="px-3 py-2 outline-none bg-transparent border-2 border-zinc-800 rounded-md" type="password" placeholder="password" name="password">
      <input class="rounded-md bg-yellow-900 py-2 px-3 ml-5" type="submit" value="Create Account">
    </form>
   </div>
</body>
</html>